img {
    width: 500px;
    border: 5px dotted purple;
    margin: auto;
}

p {
    background-color: lightcoral;
    width: 40%;
    margin: 10px auto;
}

div {
    background-color: aquamarine;
    width: 100px;
    height: 40px;
    border: 1px solid black;
}

.tobbsoros {
    display:block;
}

.egysoros {
    display:inline;
}

.vegyes {
    display:inline-block;
}