body {
    background-color: aquamarine;
}

#piros {
    background-color: crimson;
    width: 150px;
}

#kek {
    background-color: royalblue;
    width: 75%;
}

#felsodoboz {
    background-color: lightslategray;
    width: 50%
}
/* vw: view width :3 */
#zold {
    background-color: lightgreen;
    width: 75vw;
}

#lila {
    background-color: darkorchid;
    height: 100px;
}
/* vh: view height :3 */
#sarga {
    background-color: gold;
    height: 20vh;
}

#szegely {
    background-color: orangered;
    /* border-style: solid;
    border-width: 2.5px;
    border-color: darkred; hát nem így fogod megadni a szineket :D*/
    border: solid 2.5px darkred;
}

#vegyes {
    background-color: honeydew;
    /* top, right, bottom, left */
    border-right: 2px darkgrey dashed;
    border-bottom: 5px yellowgreen dotted;
    margin-bottom: 40px;
    /* margin collapse :heart_eyes: */
}
/* ~ : felsodoboz kistesókájai :3 */
#felsodoboz ~ div {
    width: 40%;
    height: 40px;
}

#kulsomargo {
    background-color: darkturquoise;
    margin-top: 20px;
    margin-left: 40px;
}

#felsodoboz ~ #kulso {
    background-color: saddlebrown;
    /* margin: 50px; */
    height: auto;
}

#belso {
    background-color: hotpink;
    margin: 10px;
}

#belsomargo {
    background-color: crimson;
    padding: 10px;
}

#belsovegyes {
    background-color: royalblue;
    height: auto !important;
    /* jaj he nekem belefért miért kell az important */
    padding: 20px 40px 60px 80px;
}

#kozepre {
    background-color: navy;
    margin: auto;
}