body {
    background-color: aquamarine;
}

#piros {
    background-color: crimson;
    width: 150px;
}

#kek {
    background-color: royalblue;
    width: 75%;
}

#felsodoboz {
    background-color: lightslategray;
    width: 50%
}