div {
    background-color: lightblue;
    border: 1px solid black;
    height: 40px;
    width: 100px;
    margin: 20px;
}

#fenti {
    box-shadow: 5px 3px 3px blue;
    cursor:not-allowed;
}

#lenti {
    box-shadow: 0px 0px 35px red;
}

p {
    text-shadow: 0px 0px 3px crimson;
    /* text-indent: -30px;
    margin-left: 40px; */
}

ul {
    background-color: lightcoral;
    padding-left: 0px;
}

li {
    background-color: lightcyan;
    padding: 5px 0px;
    margin-bottom: 10px;
    list-style-type: circle;
    list-style-position: inside;
    text-indent: 15px;
}

a {
    text-decoration: none;
    background-color: rgb(240, 240, 0);
    border: 1px solid black;
    padding: 20px;
    width: 30%;
    text-align: center;
    display: block;
    margin: 10px auto;
}

a:link {
    color: green;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
    background-color: yellow;
    border-style: dashed;
    text-decoration: underline;
}

a:active {
    color: purple;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
    margin-bottom: 12%;
}

td, th {
    background-color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

body {
    background-color: rgba(144, 238, 144, 0.4);
    background-image: url(fruit_salad.png), url(books.png);
    background-size: 8%, 14%;
    background-repeat: repeat-x, no-repeat;
    background-position: bottom center, top 2% right 5%;
    background-attachment: scroll, fixed;
}
